<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body id ='bod' style="background-image:url('../static/bak.png'); background-size:100%">  

  <center>
    <!-- GOOGLE PLUS SIGN IN-->

    
    <div id="signinButton" style="padding-top:30%">
      <span class="g-signin"
      data-scope="openid email"
      data-clientid="191858909388-h47aj66v9mqi0mp1r95hb9g3ogpt77dk.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
</center>
<div id="result"></div>

<script>

  function signInCallback(authResult) {
    if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $("#bod").css("background-image","none")
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
            window.location.href = "/restaurant";
          }, 4000);
          
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
      
    }); } }
  </script>



  <!--END GOOGLE PLUS SIGN IN -->


</body>

</html>